.go-home-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: gray;
	color: white;
	padding: {
		top: 0.6rem;
		bottom: 0.7rem;
		left: 1rem;
		right: 1rem;
	}
	border-radius: 5px;
	font-size: 1rem;
}
