.inputWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.placeholderWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.passwordPlaceholderWrapper {
	display: flex;
	flex-direction: row;
	gap: 0.2rem;
}

.placeholder {
	font-size: 0.8rem;
	color: grey;
	font-family: Tahoma;
}

.error {
	color: red;
	font-size: 0.8rem;
}

.input {
	color: black;
	border-radius: 6px;
	padding: 0.3rem;
}

.submitButton {
	background-color: #03c03c;
	border-radius: 0.4rem;
	padding: 0.5rem;
}
