.change-password-visibility-button[data-variant='first'] {
	border-radius: 6px;
	background-color: #737373;
	padding: 0.3rem;
}

.change-password-visibility-button[data-variant='second'] {
	width: fit-content;
}
