.overlay {
	background-color: var(--first-bg-color);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	scale: 200%;
}

.letter {
	padding-bottom: 0.8rem;
	font-size: 2rem;
	font-weight: bold;
	color: #f06292;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
