.message-box-wrapper {
	display: flex;
	justify-content: center;
}

.message-box[data-iserror='false'] {
	background-color: #3b4379;
}

.message-box[data-iserror='true'] {
	background-color: #d93144;
}

.message-box {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 1.5rem;
	transform: translateY(-50px);
	width: max-content;
	height: 40px;
	animation: messageBoxAnimation 4000ms linear forwards;
}

.shadow-message-box-text {
	opacity: 0;
}

.message-box-text {
	position: absolute;
	opacity: 0;
	width: max-content;
	animation: messageBoxTextAnimation 4000ms linear forwards;
}

@keyframes messageBoxAnimation {
	0% {
		width: 20px;
		transform: translateY(-50px);
	}

	10% {
		width: 20px;
		transform: translateY(10px);
	}

	20% {
		width: 25%;
	}

	80% {
		width: 25%;
	}

	90% {
		width: 20px;
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-50px);
	}
}

@keyframes messageBoxTextAnimation {
	0% {
		transform: translateY(-50px);
	}

	10% {
		transform: translateY(17px);
	}

	20% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	90% {
		transform: translateY(17px);
	}

	100% {
		transform: translateY(-50px);
	}
}
