.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: {
		left: 0.3rem;
		right: 0.3rem;
	}
	transition: 150ms;
	border-color: transparent;
	border-width: 2px;

	&:hover {
		border-color: white;
	}
}
