::-webkit-scrollbar {
	width: 12px;
	background-color: var(--scrollbar-main-color);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: lighten($color: gray, $amount: 10);
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-main-color);
}

.textarea-scrollbar::-webkit-scrollbar-track {
	border-radius: 1rem;
}

#scrollbar-without-bg::-webkit-scrollbar-track {
	background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.hide-scrollbar {
	scrollbar-width: none;
}
