.search-box {
	display: flex;
	align-items: center;
	border-radius: 10px;
	background-color: #424242;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.input {
	background-color: transparent;
	outline: none;
}
