.icon-wrapper {
	position: relative;
	width: 150px;
	height: 150px;
}

.user-icon {
	min-width: 150px;
	min-height: 150px;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	border-radius: 100%;
	background-color: rgb(78, 78, 78);
	font-size: 3rem;
}

.user-icon[data-makeborder='true'] {
	border-color: var(--first-bg-color);
	border-width: 4px;
}

.empty-icon {
	min-height: 150px;
	border-radius: 100%;
	border-color: var(--first-bg-color);
	border-width: 4px;
}

.post-profile-empty-icon {
	border-radius: 100%;
}

.post-profile-empty-icon-text {
	font-size: 1.5rem;
}

.post-profile-user-icon {
	width: 50px;
	height: 50px;
	display: grid;
	place-items: center;
	border-radius: 100%;
	background-color: rgb(78, 78, 78);
	font-size: 2rem;
}
