@tailwind base;

@layer base {
	:root {
		--first-bg-color: #141414;
		--main-color: #191919;
		--border-main-color: #303030;
		--header-bg-color: #2a2a2a;
		--scrollbar-main-color: rgb(89, 89, 89);
	}
}
